<div class="about-main">
  <h2>TweetAppとは</h2>
  <p>
    SNSサービスです。
  </p>
  <p>
    つぶやきを投稿し、他のユーザーとコミュニケーションできます。
  </p>
  <!--画像のコードを貼り付ける TODO:写真 --> 
  <img class="about-img" src="/user.png">
</div>